@font-face {
  font-family: "RHFont";
  src: url('./RedHatText-Regular.otf') format("truetype");
}
.popup {
  border-radius: 25px;
   border-style: solid;
   border-color: #FF0000;
    display: none;
    position:absolute;
    top:0%;
    left:10%;
    width:80%;  
    background-color: #FFFFFF;
    height:100%;   
    margin: auto; 
    z-index: 20;
}

.veryLargeButton {
  border-radius: 25px;
  border-style: solid;
  border-color: #FF0000;
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #FF0000;
  padding: 10px 10px;
  font-size: 128px;
  font-family: "RHFont";
  cursor: pointer;
  text-align: center;
  z-index: 9;
  box-shadow: 0 9px #999;
}

.veryLargeButton:active {
    background-color: #e41e0f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .playerButton {
    border-radius: 25px;
    border-style: solid;
    border-color: #FF0000;
    margin: auto;
    display: block;
    background-color: #FFFFFF;
    color: #FF0000;
    padding: 10px 10px;
    font-size: 64px;
    font-family: "RHFont";
    cursor: pointer;
    text-align: center;
    z-index: 9;
    box-shadow: 0 9px #999;
  }
  
  .playerButton:active {
      background-color: #FFFFFF;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
.adminText {
      display: inline;
      background-color: #FFFFFF;
      color: #000000;
      font-size: 28px;
      font-family: "RHFont";
    }

.adminButton {
  border-radius: 25px;
    border-style: solid;
    border-color: #FF0000;  
    display: block;

  background-color: #FFFFFF;
  color: #000000;
  padding: 20px 20px;
  font-size: 28px;
  font-family: "RHFont";
  cursor: pointer;
  text-align: center;
  z-index: 9;
  box-shadow: 0 9px #999;
}

.adminButton:active {
    background-color: #e41e0f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.veryLargeText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 128px;
  font-family: "RHFont";
}

.playerText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 64px;
  font-family: "RHFont";
}

.adminSelect {
  display: block;
  border-radius: 25px;
  border-style: solid;
  border-color: #FF0000;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 32px;
  font-family: "RHFont";
}

.headerText {
  margin:0 auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
  padding: 5px 5px;
  font-size: 48px;
  font-family: "RHFont";
}

.mainText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 24px;
  font-family: "RHFont";
}

.leaderBoardText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px 5px;
  font-size: 36px;
  font-family: "RHFont";
  text-align:center;
}

.timeText {
  text-align:left;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #FF0000;
  padding: 10px 10px;
  font-size: 64px;
  font-family: "RHFont";
}

.questionText {
  display: inline;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 36px;
  font-family: "RHFont";
}

.statusText {
  display: inline;
  background-color: #FFFFFF;
  color: #FF0000;
  font-size: 48px;
  font-family: "RHFont";
}

.questionTextReveal {
  display: inline;
  border-radius: 15px;
  border: 3px solid red;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 36px;
  font-family: "RHFont";
}

.mainPanel {
  border-radius: 15px;
  border: 3px solid red;
  background-color:#FFFFFF;
}