@font-face {
  font-family: "RHFont";
  src: url('http://192.168.1.33:8080/css/RedHatDisplay-Black.ttf') format("truetype");
}
.popup {
  border-radius: 25px;
   border-style: solid;
   border-color: #FF0000;
    display: none;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;  
    background-color: #FFFFFF;
    height:100%;   
    margin: auto; 
    z-index: 20;
}

.veryLargeButton {
  border-radius: 25px;
  border-style: solid;
  border-color: #FF0000;
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #FF0000;
  padding: 10px 10px;
  font-size: 128px;
  font-family: "Overpass";
  cursor: pointer;
  text-align: center;
  z-index: 9;
  box-shadow: 0 9px #999;
}

.veryLargeButton:active {
    background-color: #e41e0f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.veryLargeText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 128px;
  font-family: "Overpass";
}

.headerText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 64px;
  font-family: "Overpass";
}

.mainText {
  margin: auto;
  display: block;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 10px;
  font-size: 28px;
  font-family: "RHFont";
}

.mainPanel {
  border-radius: 15px;
  border: 3px solid red;
  background-color:#FFFFFF;
}